@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
  background: #f1f3f5;
  color: #081624;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 1rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #135;
  text-decoration: none; 
}
a:hover { text-decoration: underline; }

button {
  background: #135;
  border-radius: 5px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  margin: 1em 0 2em;
  padding: 1em 1.5em;
}
button:hover { background: #135; }

.small {
  font-size: 13px;
  margin-top: 2em;
  opacity: .5;
}
.small a { color: inherit; }


#brands {
  display: flex;
  flex-wrap: wrap;
  margin: -.5rem;
}
.brand {
  background: #fff;
  border-radius: 5px;
  flex: 0 0 15rem;
  margin: .5rem;
}
.brand-name {
  font-size: 13px;
  margin: 1rem;
}
.brand-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}